.reminder-card {
  background: var(--background-color-page);
  border-radius: 12px;
  padding: 15px 20px;
  margin-bottom: 10px;
  transition: transform 0.2s ease;
}

.reminder-card:hover {
  transform: translateY(-5px);
}

.reminder-card.highlight {
  border-left: 5px solid #2d8b54;
  background: var(--background-color-page);
}

.progress-bar {
  background: var(--background-color-page);
  border-radius: 15px;
  height: 30px;
}

.progress-fill {
  height: 100%;
  background: linear-gradient(90deg, #2d8b54, #59d88e);
  border-radius: 15px;
  transition: width 1s ease;
}

.task-list ul {
  list-style: none;
  padding: 0;
}

.task-list li {
  background: var(--background-color-page);
  border-radius: 8px;
  padding: 10px 12px;
  margin-bottom: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
}

.task-list input[type="checkbox"] {
  margin-right: 10px;
  accent-color: var(--primary-color);
}

.task-item {
  transition: all 0.3s ease;
}

.task-item.done span {
  text-decoration: line-through;
  opacity: 0.6;
  transition: all 0.3s ease;
}

.task-item.inactive {
  opacity: 0.4;
  pointer-events: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background: var(--background-color);
  color: white;
  padding: 2rem;
  border-radius: 10px;
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.task-form input,
.task-form textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
}

.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}
