.floating-profile-container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.profile-image-container {
  float: left;
  width: 30%;
  text-align: center;
}

.profile-picture {
  margin-top: 20px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.short-user-infos {
  float: right;
  width: 65%;
  padding-left: 20px;
  padding-top: 30px;
}

.short-user-infos p {
  font-size: 16px;
  margin: 8px 0;
}

.detailed-user-infos {
  clear: both;
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid #000000;
}

.detailed-user-infos p {
  font-size: 15px;
  color: #555;
  margin: 30px;
}

.button-container {
  margin-top: 40px;
  text-align: center;
}

